body{
    text-align:center;
    background-color: rgb(245, 248, 250);
    margin: 300px 150px;
}
input{
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
}
form{
    padding: 5px;
    
}
button{
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

}
button:hover{
    background-color: rgba(85, 190, 43, 0.897);
}